<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:new_size_type) %></h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @size_type } %>

<%= form_for [:admin, @size_type] do |type_form| %>
  <%= render :partial => 'form', :locals => { :form => type_form } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>
