<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Size Chart' } %>

<h1><%= t(:edit_size_chart) %></h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @size_chart } %>
<% size_type_ids = @size_chart.size_type_ids  %>

<%= form_for @size_chart, :url => admin_product_size_chart_path(@product), :method => :put do |f| %>

  <%= f.field_container :option_type_id do %>
    <%= f.label :option_type_id, t(:option_type_id) %>
    <%= f.select :option_type_id, Spree::OptionType.select("id, name").map {|opt| [opt.name, opt.id] }, { :include_blank => true } %>
  <% end %>

  <%= f.field_container :prototype_id do %>
    <%= f.label :prototype_id, t(:prototype) %>
    <%= f.collection_select :prototype_id, Spree::Prototype.all, :id, :name, :include_blank => true %>
  <% end %>

  <%= f.field_container :unit do %>
    <%= f.label :unit %>
    <%= f.select :unit, Spree::SizeChart::UNITS, :include_blank => true %>
  <% end %>

  <%= f.field_container :size_types do %>
    <%= f.label :size_type_ids, t(:size_types) %>
    <%= f.collection_select :size_type_ids, Spree::SizeType.order('name ASC').all, :id, :name, {}, :multiple => true, :class => 'select2 fullwidth' %>
  <% end %>


  <%= render :partial => 'form', :locals => { :form => f } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>