<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Size Chart' } %>

<h1><%= t(:edit_size_chart) %></h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @size_chart } %>
<% size_type_ids = @size_chart.size_type_ids  %>

<%= form_for @size_chart, :url => admin_product_size_chart_path(@product), :method => :put do |f| %>
  <%= f.label :option_type_id, t(:option_type_id) %>
  <%= f.select :option_type_id, Spree::OptionType.select("id, name").map {|opt| [opt.name, opt.id] }, { :include_blank => true } %>

  <%= f.field_container :size_prototype_id do %>
    <%= f.label :size_prototype_id, t(:size_prototype_id) %>
    <%= f.collection_select :size_prototype_id, Spree::SizePrototype.all, :id, :name, :include_blank => true %>
  <% end %>

  <% Spree::SizeType.all.each do |type| %>
    <label><%= type.name %>
      <%= check_box_tag "size_chart[size_type_ids][]", type.id, size_type_ids.include?(type.id) %>
    </label>
  <% end %>

  <%= f.select :unit, Spree::SizeChart::UNITS, :include_blank => true %>

  <%= render :partial => 'form', :locals => { :form => f } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>